
@media screen and (min-width: 768px) {
    #menu {
        /* Para escritorios: */
        background-color: rgb(129, 110, 106);
    }
}

@media screen and (max-width: 767px) and (min-width:480px) {
    #menu {
        /* Para escritorios: */
        background-color: rgba(233, 179, 16, 0.808);
    }
}

@media screen and (max-width: 479px) {
    #menu {
        /* Para escritorios: */
        background-color: rgba(56, 16, 233, 0.808);
    }
}

.navbar navbar-expand-lg {
    background-color: black;
}

.card{
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
}